<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: #2978b5;
        }
        .center h1{
            position: absolute;
            top:40%;
            left:40%;
            font-weight: bolder;
        }
        .center p{
            padding-top:10px;
            position: absolute;
            top:50%;
            left:32%;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>This is Prash</h1>
        <p>devloped django app which is containerized using docker</p>
    </div>
    
</body>
</html>